<div class="bg">

<div class="con">
    <img class="img1" src="../../assets/iot.jfif">
    <img class="img2"  src="../../assets/health.jpg">
    <img class="img3"  src="../../assets/lifestyle.jpg">
</div>
  <div class="info"><h2>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.</h2></div>
</div>
